/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */
 @font-face {
  font-family: 'OpenSans-Light';
  src: font-url('OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: font-url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: font-url('OpenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'OpenSans-Regular';
  margin: auto;
}

.header {
  position: relative;
  height: 70px;
  background-color: deepskyblue;
  color:white;
  margin-bottom: 3em;
}
.header h2 {
  text-align: center;
  margin:auto;
  line-height:70px;
}
.header a {
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 20px;
  line-height:70px;
}
.header a img{
  margin:auto;
  vertical-align:middle;
}
.allProjects {
  background-color: white;
  position: relative;
}
.oneProject {
  -webkit-box-shadow: 1px 2px 4px 2px rgba(133,133,133,1);
  -moz-box-shadow: 1px 2px 4px 2px rgba(133,133,133,1);
  box-shadow: 1px 2px 4px 2px rgba(133,133,133,1);
  height: 100%;
  width: auto;
  padding: 0px;
  margin: 0 15px 15px 15px;
}
.projectTitle {
  line-height:25px;
  border-bottom: solid 1px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 1em;  
  padding: 10px;
}
.todoText {
  padding: 10px;
  margin: 10px;
}
input:checked+label{
  text-decoration: line-through;
}
li {
  list-style-type: none;
}
.text {
  margin-left: 15px;
}
#block {
  background-color: white;
  overflow: auto;
  width: 400px;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 2rem;
}
h2 {
  text-align:center;
}
.todoTextField{
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid;
  padding: 8px;
}
#block table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}
#block th{
  width: 50%;
  height: 40px;
  background-color: grey;
  border-radius: 5px;
  color: white;
}
#block th:hover{
  background-color: cyan;
}
#block th a{
  height: 100%;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  top: 0px;
  right: 0px;
  line-height:40px;
}
#bg_layer{
  background:rgba(0,0,0,0.3);
  display:none;
  width:100%; 
  height:100%;
  position:absolute; 
  top:0;
  bottom: 0;
  z-index:1;
}
.select2-selection, .select2-selection__rendered, .select2-selection__arrow {
  height: 40px !important;
  span {
      line-height: 40px !important;
      text-align: left;
      position: relative;
	    top: -25%
  }
}
.select2-selection {
  border-radius: 0 !important;
}